$color1: #000000;
$color2: #F4DFC8;
$color3: #F4EAE0;
$color4: #FAF6F0;
$color5: #f8a100;


body{
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 16.5%;
    color: $color4;
    box-sizing: border-box;
}
.preLoader-section{
    background-color: $color1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    min-width: 100%;
    .preLoader-conatiner{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .loader-wrapper{
            overflow: hidden;
            .loading-text{
                .letter{
                    font-size: 5rem;
                    display: inline-block;
                    transform: translateY(100%);
                    color: $color2;
                    transition: 0.2s;
                    font-weight: 700;
                }
                
            }

        }
    }
}
.body-container{
    background: $color1;
    position: relative;
    overflow-x: hidden;
    
    .Progressbar-section{
        opacity: 0;
        position: fixed;
        top: 20%;
        right: 5%;
        height: 55%;
        width: 20px;
        z-index: 10;  
        .progressbar{
            height: 100%;
            position: relative;
            .progress-points{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                height: 100%;
                position: relative;
                .point{
                    height: 11px;
                    width: 11px;
                    border: 1px solid $color2;
                    border-radius: 50%;
                    background-color: $color1;
                    opacity: 1;
                    z-index: 10;
                }
            }  
            .bar{
                position: absolute;
                // height: 100%;
                width: 1.5px;
                top: 0%;
                left: 45%;
                background: $color5;
                z-index: 1;
            }
        }
        
    }
    .intro-section{
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        background: $color1;
        box-shadow: inset 0 0 20px #181818;
        .intro-conatiner{
            height: 100vh;
            display: flex;
            align-items: start;
            justify-content: left;
            padding: 100px;
            color: $color4;
            .text-container{
                font-size: 2.5rem;
                max-width: 800px;
            }
        }
        .backgroundCircle{
            position: absolute;
            border: 1px solid $color4;
            border-radius: 50%;
            height: 400px;
            width: 400px;
            box-shadow: inset 0 0 20px $color5;
            &.one{
                top: -10%;
                left: 25%;
            }
            &.two{
                top: 80%;
                left: 0%;
            }
            &.three{
                top: 28%;
                left: -10%;
            }
            &.four{
                top: 40%;
                left: 65%;
            }
            &.five{
                top: 15%;
                right: -20%;
            }
        }
    }
    .cards-section{
        padding: 100px;
        .cards-container{
            .title{
                font-size: 2rem;
                text-align: center;
                padding-bottom: 70px;
            }
            .card-wrapper{
                padding: 0px 20px;
                .card{
                    background-color: $color1;
                    border: 1px solid $color4;
                    padding: 30px 35px;
                    transition: 0.2s;
                    cursor: grab;
                    &:hover{
                        // box-shadow: 0 0 10px 0px $color5;
                        transition: 0.2s;
                        box-shadow: inset 0 0 10px $color5;
                    }
                    .picture{
                        
                    }
                    .headline{
                        font-size: 2rem;
                        padding-bottom: 10px;
                        color: $color4;
                    }
                    .description{
                        font-size: 0.9rem;
                        padding-bottom: 20px;
                        color: $color4;
                        min-height: 150px;
                    }
                    .btn-wrapper{
                        padding-bottom: 10px;
                        .btn{
                            color: $color4;
                            min-width: 100%;
                            padding: 8px 18px;
                            border: 1px solid $color4;
                            font-size: 1rem;
                            &:hover{
                                border: 1px solid $color5;
                                background-color: $color2;
                                color: $color1;
                            }
                        }
                    }
                }
            }
            .slider-arrows{
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 40px;
                .arrow{
                    border-radius: 50%;
                    border: 1px solid $color2;
                    height: 45px;
                    width: 45px;
                    margin: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.2s;
                    cursor: pointer;
                    img{
                        height: 10px;
                        width: 10px;
                    }
                    &:hover{
                        box-shadow: inset 0 0 10px $color5;
                        transform: scale(1.1);
                        transition: 0.2s;
                    }
                    &.left{
                        img{
                            transform: rotate(180deg);
                        }
                    }
                }
                
                
            }
        }
        .slick-arrow{
            display: none !important;
        }
    }
    .shapes-section{
        padding: 100px;
        .shapes-conatiner{
            min-height: fit-content;
            padding: 40px;
            box-shadow: inset 0 0 10px $color4;
            border-radius: 10px;
            .title{
                font-size: 1.8rem;
                padding-bottom: 50px;
                text-align: center;
            }
            .cube-wrapper{
                .movie-line{
                    font-size: 3rem;
                    text-align: center;
                    color: $color2;
                    padding-bottom: 20px;
                }
                .hint-line{
                    text-align: center;
                    font-size: 1rem;
                    width: 100%;
                    color: $color2;
                    padding-bottom: 20px;
                }
            }
            .cubes{
                display: flex;
                width: 100%;
                padding: 20px 20px;
                justify-content: center;
                .cube{
                    height: 40px;
                    width: 40px;
                    margin: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color5;
                    font-size: 1.5rem;
                    border-radius: 10%;
                    background-color: $color1;
                    border: 1px solid $color2;
                }
            }
        }
    }
    .scrollEffect-section{
        .scrollEffect-conatiner{
            height: 150vh;
            .title{
                font-size: 1.8rem;
                padding-bottom: 50px;
                text-align: center;  
            }
            .bouncing-ball{
                position: relative;
                height: 100%;
                .rotating-circle{
                    background: linear-gradient(180deg, rgba(248,161,0,1) 0%, rgba(255,255,255,1) 100%);
                    position: absolute;
                    border-radius: 50%;
                    height: 200px;
                    width: 200px;
                    top: 20%;
                    left: 58%;                    
                }
                .rotating-shape{
                    height: 350px;
                    width: 350px;
                    position: absolute;
                    border: 5px solid $color2;
                    box-shadow: inset 0 0 10px $color5;
                    &.one{
                        top: 10%;
                        left: 10%;
                    }
                    &.two{
                        top: 20%;
                        left: 20%;
                    }
                    &.three{
                        top: 30%;
                        left: 5%;
                    }
                    &.four{
                        top: 40%;
                        left: 20%;
                    }
                }
            }
        }
        .flooting-bubbles-wrapper{
            position: relative;
            height: 200vh;
            width: 100%;
            .bubble{
                position: absolute;
                background-color: $color2;
                border-radius: 50%;
                height: 500px;
                width: 500px;
                box-shadow: 0 0 20px $color5;
                &.one{
                    top: 20%;
                    left: -15%;
                }
                &.two{
                    top: 40%;
                    right: -15%;
                }
                &.three{
                    top: 20%;
                    left: 30%;
                }
                &.four{
                    top: 28%;
                    left: 5%;
                }
                &.five{
                    top: 34%;
                    left: 60%;
                }
                &.six{
                    top: 40%;
                    left: 22%;
                }
                &.seven{
                    top: 10%;
                    left: 85%;                
                }
                &.eight{
                    top: 16%;
                    left: 49%;
                }
                &.nine{
                    top: 21%;
                    left: 75%;
                }
                &.ten{
                    top: 8%;
                    left: 10%;
                }
            }
        }
    }
    .horizonal-screens-section{
        height: 100vh;
        .horizonal-slider-container{
            height: 100vh;
            box-shadow: inset 0 0 20px $color2;
            display: flex;
            overflow-x: hidden;
            .section-wrapper{
                min-width: 100%;
                height: 100vh;
                .horizonal-screens-conatiner{
                    font-size: 5rem;
                }
            }
        }
        
        
    }
    .chessboard-section{
        .chessboard-conatiner{
            min-height: 100vh;
            // padding: 40px;
            .chessboard-wrapper{
                border: 1px solid $color4;
                background: rgb(250,246,240);
                background: radial-gradient(circle, rgba(250,246,240,1) 0%, rgba(244,223,200,1) 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 100px;
                .chessboard{
                    max-height: fit-content;
                    max-width: fit-content;
                    border: 10px solid #808080;
                    .board-row{
                        display: flex;
                        width: auto;
                        .board-column{
                            border: 1px solid $color2;
                            min-height: 75px;
                            min-width: 75px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &.even{
                                background: rgb(255,255,255);
                                background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(198,165,129,1) 100%);
                            }
                            &.odd{
                                background: rgb(93,93,93);
                                background: linear-gradient(180deg, rgba(93,93,93,1) 0%, rgba(198,165,129,1) 100%);
                            }
                            .piece{
                                height: 50px;
                                width: 50px;
                                &.pawn-dark{
                                    background-image: url('../images/pawn-dark.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                    height: 45px;
                                    width: 45px;
                                }
                                &.pawn-light{
                                    background-image: url('../images/pawn-light.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                    height: 45px;
                                    width: 45px;
                                }
                                &.bishop-dark{
                                    background-image: url('../images/bishop-dark.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                                &.bishop-light{
                                    background-image: url('../images/bishop-light.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                                &.rook-dark{
                                    background-image: url('../images/rook-dark.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                                &.rook-light{
                                    background-image: url('../images/rook-light.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                                &.knight-dark{
                                    background-image: url('../images/knight-dark.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                                &.knight-light{
                                    background-image: url('../images/knight-light.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                                &.king-dark{
                                    background-image: url('../images/king-dark.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                                &.king-light{
                                    background-image: url('../images/king-light.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                                &.queen-dark{
                                    background-image: url('../images/queen-dark.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                                &.queen-light{
                                    background-image: url('../images/queen-light.png');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                            }

                        }
                    }
                }
            }
            
        }
    }
    .mouseEffect-section{
        position: relative;
        .mouseEffect-wrapper{
            height: 100vh;
            background-color: $color1;
            box-shadow: inset 0 0 20px $color2;
            .mouseEffect-conatiner{
                padding: 100px 50px;
                font-size: 3.5rem;
                font-weight: 500;
                color: $color2;
            }
        }
        .mouseEffect-overlay{
            position: absolute;
            top: 0%;
            left: 0%;
            background-color: $color2;
            min-width: 100%;
            height: 100vh;
            // clip-path: circle(100px at 50% 50%);
            clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
            transition: clip-path 0.05s;
            .mouseEffect-conatiner{
                padding: 100px 50px;
                font-size: 3.5rem;
                font-weight: 500;
                color: $color1;
            }
        }
        
    }
    










    .test-section{
        // height: 500vh;
        width: 100vh;
        // background-color: #ffffff;
        position: relative;
        .trigger{
            height: 100vh;
            width: 100vh;
            // background-color: #000000;
            .mark{
                border: 1px solid $color4;
                height: 2px;
                width: 100px;
                background-color: #F4EAE0;
            }
        }
    }

}



/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: $color1;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px $color1; 
    border-radius: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color2; 
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color2; 
  }